<html>
<head>
	<title>Log In</title>
</head>
<body>
	<label>Log In</label>
	<form action = "/sessions" method = "post">
		Email: <input type = "text" name = "email">
		<br />
		Password: <input type = "password" name = "password">
		<br />
		<input type = "submit">
	</form>
</body>
</html>